@model IEnumerable<BandPromotionPlatform.Models.SoundCloud>
@{
    ViewData["Title"] = "SoundCloudSongs";
}
<script src="https://connect.soundcloud.com/sdk/sdk-3.3.0.js"></script>
<script src="~/SoundCloud.js"></script>
<h2>Index</h2>
<head>
    <meta charset="utf-8">
    <title>SDK playground</title>
    <script type="text/javascript" src="../sdk.js"></script>
</head>


<body>
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <iframe width="100%" height="300" scrolling="yes" frameborder="no"
                    allow="autoplay" src="https://w.soundcloud.com/player/?url=@item.SoundCloudURL&color=%23790fcc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
        @*<script type="text/javascript" id="connect">
                SC.initialize({
                    client_id: 'turkishchrist',
                    redirect_uri: 'http://localhost:61775/SoundCloud'
                });
                SC.get('tracks/drunktextingyou-prod-by-mikerobsears').then(function (user) { console.log('DrunkTextingYou [Prod. By MikeRobSears]', user); }).catch(function (error) {
                    console.log('catch', error);
                });
                var connect = function () {
                    SC.connect().then(function (options) { console.log('success', options); }).catch(function (op) { console.log('error', op); })
                };
                var oembedElement = document.getElementById('oembed');
                SC.oEmbed('https://soundcloud.com/turkishchrist/daydreamingaboutus-prod-by-mikerobsears', { element: oembedElement }).then(function (result) {
                    console.log('oembed', result);
                }).catch(function (err) {
                    console.log('oembed err', err);
                });
            </script>*@
        }
    </body>