
@{
    ViewData["Title"] = "SelectVideosAdmin";
}

<h2>SelectVideosAdmin</h2>

<form>
    <div>
        <label for="uname">Enter a Youtube Url: </label>
        <input type="text" id="uname" name="name"
               placeholder="Lower case, all one word">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>